.Isa {
    text-align: center;
    padding: 1rem;
    background-color: antiquewhite;
    margin: 0;
}

.ImageIsa {
    border-radius: 50%;
}

.Isabelle {
    font-size: 16px;
    font-family: Arial;
}

.Guide {
    text-align: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}